<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <nav class="py-6 px-8 flex items-center justify-between bg-slate-700">
            <h1 class="text-3xl text-white" style="font-family: 'Times New Roman', Times, serif;">-Project manager-</h1>
            
            <div class="space-x-4">
                <a href="#" class="text-white">About</a>

                <a href="#" class="py-4 px-8 bg-slate-600 text-white">Log in</a>

                <a href="#" class="py-4 px-8 bg-sky-700 text-white">Sign up</a>
            </div>

        
        
        </nav>
    <main class="py-8 px-8"> 
        <div class="max-w-xl mx-auto py-8 bg-slate-700 ">
            <h1 class="text-3xl text-white text-center">Sign Up</h1>
            <form class="mt-6 px-8">
                <div>
                    <label class="text-white"> E-mail</label><br>
                    <input type ="email" class ="w-full py-1 px-4 bg-slate-300 text-black">
                </div>

                <div>
                    <label class="text-white"> Password</label><br> 
                    <input type = "password" class ="w-full py-1 px-4 bg-slate-300 text-black"></input>
                </div>

                <div>
                    <label class="text-white"> Repeat Password</label><br> 
                    <input type = "r_password" class ="w-full py-1 px-4 bg-slate-300 text-black"></input>
                </div>

                <div class = "text-center mt-6">
                    <button type="signup" class="py-2 px-4 bg-sky-700 text-white ">Sign Up</button>
                </div>


            </form>
        </div>
    </main>
    </body>
</html>